.dat tr td
{
    border-style: groove;
    border-color: black;
    border-width: 1px;
}

th{
    background-color: #007bff;
    border-style: groove;
    border-width: 1px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
}

.dat{
    border-style: inset;
    border-color: dodgerblue;
    border-width: 2px;
}



img{
    width: 40px;
    height: 40px;
}

th,td {
    padding: 0.4rem !important;
    width: 50%;
    height: 50%;
}

td {
    border-style: inset;
    border-color: dodgerblue;
    background-color: khaki;
}
body>div {
    box-shadow: 10px 10px 8px #888888;
    border: 2px solid black;
    border-radius: 10px;
}

table{
    text-align: center;
}


article#movies {
    margin-top: 5%;
    border-style: inset;
    padding: 5%;
    border-color: dodgerblue;
    background-color: khaki;
}

.col-4.text-left {margin-left: unset;float: left;padding-left: 2%;}

.col-4 {
    margin-left: auto;
    float: left;
}

h2.mb-4 {
    margin-left: 0%;
}

.row.no-gutters.d-flex.align-items-center.justify-content-center {
    margin-left: -37%;
}

img.img-fluid {width: initial;height: initial;border-style: groove;border-color: dodgerblue;}

nav#menu {
    margin-right: 25%;
    text-align: justify;
    padding: inherit;
    margin-top: 2%;
    margin-left: 25%;
    margin-bottom: 3%;
}

table#mia {
}

table#mia {
    margin-left: 25%;
    width: 50%;
    height: 50%;
    margin-top: 3%;
}

nav.container-fluid.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {}

* footer */

.footer-style {
    padding-top: 50px;
    background-color: #2C3E50;
}
footer {
  color: dodgerblue;
  margin-top: 7%;
}
footer h3 {
  margin-bottom: 30px;
    font-weight: 800;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}

label#pag {
    opacity: initial;
}