.dat tr td
{
    border-style: groove;
    border-color: black;
    border-width: 1px;
}

th{
    background-color: aquamarine;
    border-style: groove;
    border-width: 1px;
}

.dat{
    border-style: groove;
    border-color: black;
    border-width: 2px;
}



img{
    width: 40px;
    height: 40px;
}

th,td {
    padding: 0.4rem !important;
}
body>div {
    box-shadow: 10px 10px 8px #888888;
    border: 2px solid black;
    border-radius: 10px;
}

table{
    text-align: center;
}


